<%= form_for @place, :html => { :class => 'form-horizontal well' } do |f| %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <!--
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image, :class => 'text_field' %>
    </div>
  </div>
  -->
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :depart_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datepicker :depart_at, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :package_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :package_1, :class => 'text_field' %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :image_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_1, :class => 'text_field' %>
    </div>
  </div>  

<div class="control-group">
    <%= f.label :package_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :package_2, :class => 'text_field' %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :image_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_2, :class => 'text_field' %>
    </div>
  </div>  

<div class="control-group">
    <%= f.label :package_3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :package_3, :class => 'text_field' %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :image_3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_3, :class => 'text_field' %>
    </div>
  </div>  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                places_path, :class => 'btn' %>
  </div>
<% end %>
