<%= form_for @place, :html => { :class => 'form-horizontal well' } do |f| %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <!--
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image, :class => 'text_field' %>
    </div>
  </div>
  -->
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :rows => 5 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :depart_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datepicker :depart_at, :class => 'text_field', :dateFormat => "yy-mm-dd" %>
    </div>
  </div>

  <% (1..3).each{|i| %> 
    <div class="control-group">
      <%= f.label "package_#{i}", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area "package_#{i}", :class => 'text_field', :rows => 5 %>
      </div>
    </div>  

    <div class="control-group">
      <%= f.label "image_#{i}", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field "image_#{i}", :class => 'text_field' %>
      </div>
    </div>  
  <% } %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                places_path, :class => 'btn' %>
  </div>
<% end %>
